html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("images/backgroundOfPlayground.avif");
    background-size: cover;
    margin: 0;
    height: 100vh;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    border: 2px solid #333333;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
}

.eliminated {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: space-between;
    align-items: flex-end;
}

table {
    border-collapse: collapse;
    box-shadow: 6px 9px 6px rgb(164, 162, 162);
}

td {
    width: 95px;
    height: 95px;
    border: 1px solid #000;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}

td img {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.white {
    background-color: #eeefd3;
}

.black {
    background-color: #779756;

    color: #ffffff;
}

/* shows pieces that are eliminated  */
.eliminatebox {
    height: 200px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #333333;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

/* style for pieces in eliminated box */
.eliminatebox .pieces {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
}

.eliminatebox .pieces img {
    height: 50px;
    width: 50px;
    margin: 0 5px;
}

.player-name {
    font-weight: bold;
    font-size: 18px;
}

.highlighted_cell_empty {
    background-color: rgba(191, 237, 235, 0.8);
    border-radius: 20%;
    border: 4px dashed rgb(117, 189, 202);
    box-shadow: 2px 4px 4px rgb(192, 190, 190);
}

.highlighted_cell_filled {
    background-color: rgba(166, 5, 5, 0.8);
    border-radius: 10%;
    border: 4px dashed rgb(189, 65, 65);
    box-shadow: 2px 4px 4px rgb(161, 66, 66);
}

/* animation on eliminated pieces when it can respawn */
.border-animation {
    border: 3px dashed transparent;
    animation: borderPulse 0.5s linear infinite alternate;

    border-radius: 50%;
}

@keyframes borderPulse {
    0% {
        border-color: transparent;
        transform: scale(1);
    }

    60% {
        border-color: #0e35d1;

        transform: scale(1.1);
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    z-index: 1;
}

.overlay-content {
    background-color: #fff;
    width: 80%;
    max-width: 400px;
    margin: 40vh 30vw;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
}